// Imports
var ___CSS_LOADER_API_IMPORT___ = require("../../../../node_modules/css-loader/dist/runtime/api.js");
exports = ___CSS_LOADER_API_IMPORT___(false);
// Module
exports.push([module.id, ".cvat-share-tree{height:256px}.cvat-empty-share-tree>.ant-typography{margin-top:10px}.cvat-file-manager-local-tab>span:nth-child(1){display:block}.cvat-create-task-page-cloud-storages-tab{display:flex;justify-content:space-between}.cvat-create-task-page-cloud-storages-tab-form .cvat-empty-cloud-storages-tree{background-color:#f1f1f1;border:1px;box-sizing:border-box;border-radius:4px;text-align:center}.cvat-create-task-page-cloud-storages-tab-form .cvat-empty-cloud-storages-tree>.ant-typography{margin-top:10px}.cvat-create-task-page-cloud-storages-tab-form .cvat-empty-cloud-storages-tree>.cvat-cloud-storage-icon{font-size:160px}", ""]);
// Exports
module.exports = exports;
